html {
	height: 100%;
}

body {
	font-family: Microsoft JhengHei;
	font-size: 3em;
}

.tagsarea{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:10px;
	width: 60%;
}
table{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
table th{
	text-align:center;
}

td{height: 100px;}
tbody tr:hover {background-color: #f5f5f5;}
.job_info th, td {border-bottom: 1px solid #0B4158;}

#tags input[type="checkbox"] {
	display: none;
}
#tags input[type="checkbox"] + label {
	display: inline-block;
	background-color: #ccc;
	cursor: pointer;
	padding: 2px 4px;
	margin: 1px;
}
#tags input[type="checkbox"]:checked + label {
	background-color: #4D9FBE;
}

td[id*="caseID"]{
	cursor: pointer;
}

pre{
	text-align: left;
}
.caseTitle{
	font-size: 20px;
}
.sort,.fa{
	cursor: pointer;
}
body{
	background-image: url("../img/back.jpg");
}
.fa:hover{
	transform: scale(1.3);
}