body {
	background-color: #E6E6E6;
	font-family: Microsoft JhengHei;
	font-size: 18px;
}

table{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top:50px;
	width: 60%;
}

td{height: 100px;}
tbody tr:hover {background-color: #f5f5f5; cursor:pointer;}
th, td {border-bottom: 1px solid #0B4158;}
#tags{
	text-align: center;
}

＃tags input[type="checkbox"] {
	display: none;
}
＃tags input[type="checkbox"] + label {
	display: inline-block;
	background-color: #ccc;
	cursor: pointer;
	padding: 4px 8px;
	margin: 3px;
}
＃tags input[type="checkbox"]:checked + label {
	background-color: #4D9FBE;
}
.order{
	float: right;
	bottom: 0px;
	right: 0px;
}
#coverl{
	position: absolute;
    z-index: 1;
    background-color: gray;
    height: 100vh;
    width: 50vw;
    top: 0;
    opacity: 0.9;
    font-size: 60px;
}
#coverl:hover,#coverr:hover{
	background-color: blue;
	cursor: pointer;
}
#coverr{
	position: absolute;
    z-index: 1;
    background-color: gray;
    left: 50vw;
    height: 100vh;
    width: 50vw;
    top: 0;
    opacity: 0.9;
    font-size: 60px;
}
